<!--
 __     ___   _ _____
 \ \   / / | | | ____|
  \ \ / /| | | |  _|
   \ V / | |_| | |___
    \_/   \___/|_____|
-->
<template>
  <!--
    style
  -->
  <style>
    label{
      color : red;
    }
  </style>

  <!--
    structure
  -->

  <form>
    <label class="color-label">Login</label>
    <input type="login" name="login"/>
    <label class="color-label">Password</label>
    <input type="password" name="password"/>
    <button>envoyer</button>
  </form>

</template>

<!--
   ____ ___  _   _ _____ ____   ___  _     _____ _   _ ____
  / ___/ _ \| \ | |_   _|  _ \ / _ \| |   | ____| | | |  _ \
 | |  | | | |  \| | | | | |_) | | | | |   |  _| | | | | |_) |
 | |__| |_| | |\  | | | |  _ <| |_| | |___| |___| |_| |  _ <
  \____\___/|_| \_| |_| |_| \_\\___/|_____|_____|\___/|_| \_\
-->
<script>

  ( function(){

    var $domRoot           = document,
        $domCurrent        = $domRoot.currentScript.ownerDocument,
        oLoginPrototype    = Object.create( HTMLElement.prototype),
        $template          = $domCurrent.querySelector( 'template');

    oLoginPrototype.createdCallback = function initModule() {

      var $clone  = $template.content.cloneNode( true),// $domRoot.importNode( $template.content, true)
          $shadow = this.createShadowRoot();


      console.log( $domCurrent.URL, 'Load');
      $shadow.appendChild( $clone);

    };

    document.registerElement(
                              'login-module',
                              {
                                prototype: oLoginPrototype
                              }
                            );
  })();


</script>
