<html>
<!--
VUE
-->
  <template>
    <!--
      style
    -->
    <style>
      label{
        color : red;
      }
    </style>

    <!--
      structure
    -->
    
    <form>
      <label class="color-label">Login</label>
      <input type="login" name="login"/>
      <label class="color-label">Password</label>
      <input type="password" name="password"/>
      <button>envoyer</button>
    </form>

  </template>

<!--
CONTROLEUR
-->
  <script>

    ( function(){

      var $domRoot           = document,
          $domCurrent        = $domRoot.currentScript.ownerDocument,
          oLoginPrototype    = Object.create( HTMLElement.prototype),
          $template          = $domCurrent.querySelector('template');

      oLoginPrototype.createdCallback = function initModule() {

        var $clone  = $domRoot.importNode( $template.content, true),
            $shadow = this.createShadowRoot();

        $shadow.appendChild( $clone);

      };

      document.registerElement(
                                'login-module',
                                {
                                  prototype: oLoginPrototype
                                }
                              );
    })();


  </script>
</html>
